
                  
                        <div class="row">
                            <div class="col-md-12 page-404">
                                <div class="number font-green"> 404 </div>
                                <div class="details">
                                    <h3>Oops! Você esta perdido.</h3>
                                    <p> Nós não encontramos a página qe você esta tentando acessar.
                                        <br>
                                        <a href="javascript:history.back()"> Volte para a página anterior. </a></p>
                                </div>
                            </div>
                        </div>